<html>
    <head>
<template>
  <div>
    <h1>Item List</h1>
    <input v-model="newItem" @keyup.enter="addItem" placeholder="Add a new item" />
    <ul>
      <li v-for="(item, index) in items" :key="index">{{ item }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newItem: '',
      items: []
    };
  },
  methods: {
    addItem() {
      if (this.newItem.trim() !== '') {
        this.items.push(this.newItem);
        this.newItem = '';
      }
    }
  }
};
</script>

<style scoped>
h1 {
  color: #42b983;
}
input {
  margin-bottom: 10px;
}
</style>
</head>
</html>